@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Lobster&display=swap');
body{
    margin: 0%;
    padding: 0%;
    position: relative;
    background: url(w1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;


}
.title{
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
    color: rgb(75, 236, 236);
    font-family: 'Lobster', cursive;
}
.wallpaper{
    display:flex;
    justify-content: space-between ;
    
}
.wallpaper1{
    margin: 100px;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    box-shadow: 0px 0px 30px rgb(55, 241, 232) ;
    animation: run 4s linear 1;
        
}
.wallpaper2{
    margin-right: 100px;
    width: 800px;
    height: 300px;
    background-color: rgba(255, 255, 240, 0.61);
    margin-top: 130px;
    border-radius:50px ;
    
}
.pic{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.rifat{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
    border: 11px solid #72e767d5;
    margin-left: 300px ;

}
.nabil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
    border: 11px solid #72e767d5;
    margin-left: 350px; 
}
.sayem{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
    border: 11px solid #72e767d5;
    margin-left: 300px;
}
.title1{
  
    text-align: center;
    font-size: 50px;
    color: rgb(46, 221, 221);
    font-family: 'Lobster', cursive;
}
.rifat-box{
    width: 400px;
    height: 300px;
    background-color: rgba(251, 255, 249, 0.514);
    border-radius: 50px;
    display: block;
    justify-content: center;
    margin-left: 220px ;
    box-shadow:0px 0px 30px  rgb(72, 202, 253); 
    
   
    
}
.sayem-box{
    width: 400px;
    height: 300px;
    background-color: rgba(251, 255, 249, 0.685);
    border-radius: 50px;
    display: block;
   margin-left:220px;
   box-shadow:0px 0px 30px  rgb(55, 241, 148);
}
.nabil-box{
  
    width: 400px;
    height: 300px;
    background-color:rgba(251, 255, 249, 0.514);
    border-radius: 50px;
    display: block;
    margin-right: 200px;
    margin-left: 270px;
    box-shadow:0px 0px 30px  rgb(241, 77, 55);
   
}
.title-box{
    display: flex ;
    justify-content:center;
}
.name-text{
    text-align: center;
    font-size: 50px;
    font-family: 'Rampart One', cursive;
    color: rgb(22, 21, 21);
  
  
}
.rifat1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 11px solid #72e767d5;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
}
.sayem1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 11px solid #72e767d5;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
}
.nabil1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 11px solid #72e767d5;
    box-shadow:0px 0px 30px  rgb(55, 241, 232);
} 
.all-p{
    display: flex;
    margin: 200px;
    justify-content: center;
}
.rifat1-p{
    width: 1000px;
    height: 400px;
    background-color:rgba(251, 255, 249, 0.514);
    border-radius: 50px;
}
.sayem-p{
    width: 1000px;
    height: 400px;
    background-color:rgba(251, 255, 249, 0.514);
    border-radius: 50px; 
}
.nabil-p{
    width: 1000px;
    height: 400px;
    background-color:rgba(251, 255, 249, 0.514);
    border-radius: 50px;
}